.version.compra /* version checker */
{
	color: #0000F6;
	background-color: #976532;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-color: #000000;
	z-index: 1;
	background-image: none;
	width: 100%;
	min-height: 939px;
	border-width: 0px;
	margin-right: auto;
	margin-left: auto;
}

#pu299
{
	margin-right: -10000px;
	z-index: 2;
}

#u299
{
	padding-bottom: 0px;
	z-index: 2;
}

#u299_align_to_page
{
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#u299-bw
{
	z-index: 2;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 961px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#pu1131
	{
		z-index: 15;
		margin-right: -10000px;
		width: 100%;
		margin-left: 0%;
	}

	#u1131
	{
		z-index: 15;
		min-height: 122px;
		padding-bottom: 8px;
	}

	#u1131_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#u1155
	{
		z-index: 16;
		width: 262px;
		position: relative;
		margin-right: -10000px;
		margin-top: 17px;
		left: 20px;
	}

	#u1131-bw
	{
		z-index: 15;
		min-height: 122px;
	}

	#u1325
	{
		z-index: 19;
		width: 201px;
		position: relative;
		margin-right: -10000px;
		margin-top: 43px;
		margin-left: 100%;
		left: -231px;
	}

	#u1325_states
	{
		width: 201px;
		height: 53px;
	}

	#u11449
	{
		z-index: 22;
		width: 99px;
		position: relative;
		margin-right: -10000px;
		margin-top: 59px;
		margin-left: 100%;
		left: -624px;
	}

	#u11449_states
	{
		width: 99px;
		height: 22px;
	}

	#u11450
	{
		z-index: 25;
		width: 160px;
		position: relative;
		margin-right: -10000px;
		margin-top: 59px;
		margin-left: 100%;
		left: -525px;
	}

	#u11450_states
	{
		width: 160px;
		height: 22px;
	}

	#u11451
	{
		z-index: 28;
		width: 118px;
		position: relative;
		margin-right: -10000px;
		margin-top: 59px;
		margin-left: 100%;
		left: -365px;
	}

	#u11451_states
	{
		width: 118px;
		height: 22px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 327px);
	}

	#pu299
	{
		width: 0.01px;
		margin-top: -1px;
	}

	#u299_align_to_page
	{
		padding-top: 86px;
		padding-bottom: 20px;
	}

	#pu463
	{
		z-index: 3;
		position: relative;
		width: 100%;
	}

	#u463
	{
		z-index: 3;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 93px;
	}

	#u478
	{
		z-index: 7;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 163px;
	}

	#u485
	{
		z-index: 9;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 232px;
	}

	#u471
	{
		z-index: 5;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 302px;
	}

	#u513-4
	{
		z-index: 11;
		margin-top: 14px;
		position: relative;
		margin-left: 50%;
		left: -580px;
	}

	#u299,#u299-bw
	{
		min-height: 199.75000000000045px;
	}

	#u11472
	{
		z-index: 31;
		width: 102px;
		position: relative;
		margin-right: -10000px;
		margin-top: 39px;
		left: 20px;
	}

	#u11472_states
	{
		width: 102px;
		height: 23px;
	}

	#u11473
	{
		z-index: 34;
		width: 158px;
		position: relative;
		margin-right: -10000px;
		margin-top: 39px;
		left: 126px;
	}

	#u11473_states
	{
		width: 158px;
		height: 23px;
	}

	#u11474
	{
		z-index: 37;
		width: 122px;
		position: relative;
		margin-right: -10000px;
		margin-top: 39px;
		left: 291px;
	}

	#u11474_states
	{
		width: 122px;
		height: 23px;
	}

	.verticalspacer
	{
		min-height: 823px;
	}
}

@media (min-width: 501px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#pu4157
	{
		z-index: 15;
		width: 0.01px;
		margin-right: -10000px;
		margin-top: -1px;
	}

	#u4157
	{
		z-index: 15;
		min-height: 69px;
		padding-bottom: 5px;
	}

	#u4157_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#u1656
	{
		z-index: 16;
		width: 162px;
		position: relative;
		margin-right: -10000px;
		margin-top: 4px;
		left: 1.57%;
	}

	#u4157-bw
	{
		z-index: 15;
		min-height: 69px;
	}

	#accordionu3937
	{
		z-index: 18;
	}

	#u3938
	{
		z-index: 19;
	}

	#u3939-3
	{
		z-index: 20;
		min-height: 70px;
	}

	#u3939-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		margin: 0px 0px 0px 0%;
	}

	#u3939-3.AccordionPanelTabOpen
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		margin: 0px 0px 0px 0%;
	}

	#u3940
	{
		z-index: 23;
		padding-bottom: 7px;
	}

	#u11403
	{
		z-index: 28;
		width: 79px;
		position: relative;
		margin-right: -10000px;
		margin-top: 19px;
		left: 26px;
	}

	#u11408
	{
		z-index: 31;
		width: 128px;
		position: relative;
		margin-right: -10000px;
		margin-top: 19px;
		left: 107px;
	}

	#u11417
	{
		z-index: 34;
		width: 113px;
		position: relative;
		margin-right: -10000px;
		margin-top: 19px;
		left: 238px;
	}

	#u3941
	{
		z-index: 25;
		width: 182px;
		position: relative;
		margin-right: -10000px;
		margin-top: 10px;
		left: 362px;
	}

	#u3941_states
	{
		width: 182px;
		height: 45px;
	}

	#accordionu3937-bw
	{
		z-index: 18;
		margin-top: 2px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 252px);
	}

	#pu299
	{
		width: 0.01px;
		margin-top: -1px;
	}

	#u299_align_to_page
	{
		padding-top: 63px;
		padding-bottom: 19px;
	}

	#pu10852
	{
		z-index: 3;
		position: relative;
		width: 100%;
	}

	#u10852
	{
		z-index: 3;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 53px;
	}

	#u10856
	{
		z-index: 7;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 123px;
	}

	#u10858
	{
		z-index: 9;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 193px;
	}

	#u10854
	{
		z-index: 5;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		left: 263px;
	}

	#u10860-4
	{
		z-index: 11;
		margin-top: 20px;
		position: relative;
		width: 96.57%;
		margin-left: 1.72%;
		left: -1px;
	}

	#u299,#u299-bw
	{
		min-height: 181.6500000000002px;
	}

	#u11426
	{
		z-index: 37;
		width: 79px;
		position: relative;
		margin-right: -10000px;
		margin-top: 23px;
		left: 20px;
	}

	#u11403_states,#u11426_states
	{
		width: 79px;
		height: 20px;
	}

	#u11427
	{
		z-index: 40;
		width: 128px;
		position: relative;
		margin-right: -10000px;
		margin-top: 23px;
		left: 101px;
	}

	#u11408_states,#u11427_states
	{
		width: 128px;
		height: 20px;
	}

	#u11428
	{
		z-index: 43;
		width: 113px;
		position: relative;
		margin-right: -10000px;
		margin-top: 23px;
		left: 232px;
	}

	#u11417_states,#u11428_states
	{
		width: 113px;
		height: 20px;
	}

	body
	{
		overflow-x: hidden;
	}

	.verticalspacer
	{
		min-height: 880px;
	}

}

@media (max-width: 500px)
{
	#muse_css_mq
	{
		background-color: #0001f4;
	}

	#bp_500.active
	{
		display: block;
	}

	#page
	{
		max-width: 500px;
	}

	#pu11561-3
	{
		z-index: 15;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u11561-3,#u11561-3-bw
	{
		z-index: 15;
		min-height: 70px;
	}

	#u1888
	{
		z-index: 18;
		width: 145px;
		position: relative;
		margin-right: -10000px;
		margin-top: 9px;
		left: 11px;
	}

	#u4536
	{
		z-index: 21;
	}

	#u4537-3
	{
		z-index: 22;
		min-height: 70px;
	}

	#u4537-3:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		margin: 0px 0px 0px 0%;
	}

	#u4537-3.AccordionPanelTabOpen
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 70px;
		margin: 0px 0px 0px 0%;
	}

	#u4538
	{
		z-index: 25;
		padding-bottom: 6px;
	}

	#u11518
	{
		z-index: 30;
		width: 55px;
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		margin-left: 50%;
		left: -137px;
	}

	#u11518_states
	{
		width: 55px;
		height: 18px;
	}

	#pppu11519
	{
		z-index: 0;
		margin-right: -10000px;
		margin-top: 15px;
		width: 45%;
		margin-left: 27.51%;
	}

	#ppu11519
	{
		z-index: 32;
		width: 100%;
		margin-left: 0%;
	}

	#u11519
	{
		z-index: 33;
		width: 125px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -80.5px;
	}

	#u11519_states
	{
		width: 125px;
		height: 18px;
	}

	#u11520
	{
		z-index: 36;
		width: 98px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 47.5px;
	}

	#u11520_states
	{
		width: 98px;
		height: 18px;
	}

	#u4539
	{
		z-index: 27;
		width: 146px;
		margin-top: 6px;
		position: relative;
		margin-left: 50%;
		left: -70.5px;
	}

	#u4539_states
	{
		width: 146px;
		height: 39px;
	}

	#accordionu4535,#accordionu4535-bw
	{
		z-index: 20;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 250px);
	}

	#pu299
	{
		width: 100%;
		margin-left: 0%;
	}

	#u299_align_to_page
	{
		padding-top: 69px;
		padding-bottom: 19px;
	}

	#pu11124
	{
		z-index: 3;
		position: relative;
		width: 100%;
	}

	#u11124
	{
		z-index: 3;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -127px;
	}

	#u11128
	{
		z-index: 7;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -66px;
	}

	#u11130
	{
		z-index: 9;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 4px;
	}

	#u11126
	{
		z-index: 5;
		width: 50px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 63px;
	}

	#u11132-4
	{
		z-index: 11;
		margin-top: 13px;
		position: relative;
		width: 92.2%;
		margin-left: 3.9%;
		left: 1px;
	}

	#u299,#u299-bw
	{
		min-height: 180.9500000000004px;
	}

	#u11495
	{
		z-index: 39;
		width: 76px;
		position: relative;
		margin-right: -10000px;
		margin-top: 31px;
		margin-left: 50%;
		left: -151px;
	}

	#u11495_states
	{
		width: 76px;
		height: 20px;
	}

	#u11496
	{
		z-index: 42;
		width: 123px;
		position: relative;
		margin-right: -10000px;
		margin-top: 31px;
		margin-left: 50%;
		left: -72px;
	}

	#u11496_states
	{
		width: 123px;
		height: 20px;
	}

	#u11497
	{
		z-index: 45;
		width: 109px;
		position: relative;
		margin-right: -10000px;
		margin-top: 31px;
		margin-left: 50%;
		left: 53px;
	}

	#u11497_states
	{
		width: 109px;
		height: 20px;
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 688px;
	}

}

