#u299
{
	background-color: #27292F;
}

@media (min-width: 961px), print
{
	#u1131
	{
		background-color: #FF6D2C;
	}

	#u1325_states
	{
		float: left;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u1325_states.png?crc=3962747252") no-repeat 0px 0px;
	}

	#u1325:hover #u1325_states
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u1325_states-r.png?crc=3862569607") no-repeat 0px 0px;
	}

	#u11449_states
	{
		float: left;
		background: transparent url("../images/u11449_states.png?crc=428258245") no-repeat 0px 0px;
	}

	#u11449:hover #u11449_states
	{
		background: transparent url("../images/u11449_states-r.png?crc=317341501") no-repeat 0px 0px;
	}

	#u11450_states
	{
		float: left;
		background: transparent url("../images/u11450_states.png?crc=392020570") no-repeat 0px 0px;
	}

	#u11450:hover #u11450_states
	{
		background: transparent url("../images/u11450_states-r.png?crc=3818146951") no-repeat 0px 0px;
	}

	#u11451_states
	{
		float: left;
		background: transparent url("../images/u11451_states.png?crc=3838780963") no-repeat 0px 0px;
	}

	#u11451:hover #u11451_states
	{
		background: transparent url("../images/u11451_states-r.png?crc=112611948") no-repeat 0px 0px;
	}

	#u1155,#u463,#u478,#u485,#u471
	{
		background-color: transparent;
	}

	#u513-4
	{
		display: block;
		vertical-align: top;
	}

	#u11472_states
	{
		float: left;
		background: transparent url("../images/u11472_states.png?crc=275084784") no-repeat 0px 0px;
	}

	#u11472:hover #u11472_states
	{
		background: transparent url("../images/u11472_states-r.png?crc=41863917") no-repeat 0px 0px;
	}

	#u11473_states
	{
		float: left;
		background: transparent url("../images/u11473_states.png?crc=4268700923") no-repeat 0px 0px;
	}

	#u11473:hover #u11473_states
	{
		background: transparent url("../images/u11473_states-r.png?crc=4267373037") no-repeat 0px 0px;
	}

	#u1325,#u11449,#u11450,#u11451,#u11472,#u11473,#u11474
	{
		vertical-align: top;
	}

	#u11474_states
	{
		float: left;
		background: transparent url("../images/u11474_states.png?crc=4060441292") no-repeat 0px 0px;
	}

	#u11474:hover #u11474_states
	{
		background: transparent url("../images/u11474_states-r.png?crc=4173531297") no-repeat 0px 0px;
	}
}

@media (min-width: 501px) and (max-width: 960px)
{
	#u4157
	{
		background-color: #FF6D2C;
	}

	#accordionu3937,#u3938
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u3939-3
	{
		border-width: 0px;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: transparent url("../images/abrir.svg?crc=3881540917") no-repeat right center;
		background-size: 40px 15px;
	}

	#u3939-3:hover
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: transparent url("../images/abrir.svg?crc=3881540917") no-repeat right center;
		background-size: 40px 15px;
	}

	#u3939-3.AccordionPanelTabOpen
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: #525358 url("../images/cerrar.svg?crc=94584885") no-repeat right center;
		background-color: rgba(39,41,47,0.8);
		background-size: 40px 15px;
	}

	.nosvg #u3939-3,.nosvg #u3939-3:hover
	{
		background-image: url('../images/abrir_poster_u1494.png?crc=229763918');
	}

	#u3939-3.AccordionPanelTabOpen p
	{
		color: #4F4F4F;
		visibility: inherit;
	}

	.nosvg #u3939-3.AccordionPanelTabOpen
	{
		background-image: url('../images/cerrar_poster_u1442.png?crc=66643228');
	}

	#u3940
	{
		border-width: 0px;
		background-color: #525358;
		background-color: rgba(39,41,47,0.8);
		-pie-background: rgba(39,41,47,0.8);
	}

	#u11403_states
	{
		float: left;
		background: transparent url("../images/u11403_states.png?crc=3996541445") no-repeat 0px 0px;
	}

	#u11403:hover #u11403_states
	{
		background: transparent url("../images/u11403_states-r.png?crc=4056270393") no-repeat 0px 0px;
	}

	#u11408_states
	{
		float: left;
		background: transparent url("../images/u11408_states.png?crc=107493361") no-repeat 0px 0px;
	}

	#u11408:hover #u11408_states
	{
		background: transparent url("../images/u11408_states-r.png?crc=4195471231") no-repeat 0px 0px;
	}

	#u11417_states
	{
		float: left;
		background: transparent url("../images/u11417_states.png?crc=409355238") no-repeat 0px 0px;
	}

	#u11417:hover #u11417_states
	{
		background: transparent url("../images/u11417_states-r.png?crc=4249628338") no-repeat 0px 0px;
	}

	#u3941_states
	{
		float: left;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u3941_states.png?crc=4126767364") no-repeat 0px 0px;
	}

	#u3941:hover #u3941_states
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u3941_states-r.png?crc=3987783253") no-repeat 0px 0px;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u1656,#u10852,#u10856,#u10858,#u10854
	{
		background-color: transparent;
	}

	#u10860-4
	{
		display: block;
		vertical-align: top;
	}

	#u11426_states
	{
		float: left;
		background: transparent url("../images/u11426_states.png?crc=3996541445") no-repeat 0px 0px;
	}

	#u11426:hover #u11426_states
	{
		background: transparent url("../images/u11426_states-r.png?crc=4056270393") no-repeat 0px 0px;
	}

	#u11427_states
	{
		float: left;
		background: transparent url("../images/u11427_states.png?crc=107493361") no-repeat 0px 0px;
	}

	#u11427:hover #u11427_states
	{
		background: transparent url("../images/u11427_states-r.png?crc=4195471231") no-repeat 0px 0px;
	}

	#u11403,#u11408,#u11417,#u3941,#u11426,#u11427,#u11428
	{
		vertical-align: top;
	}

	#u11428_states
	{
		float: left;
		background: transparent url("../images/u11428_states.png?crc=409355238") no-repeat 0px 0px;
	}

	#u11428:hover #u11428_states
	{
		background: transparent url("../images/u11428_states-r.png?crc=4249628338") no-repeat 0px 0px;
	}
}

@media (max-width: 500px)
{
	#u11561-3
	{
		background-color: #FF6D2C;
	}

	#accordionu4535,#u4536
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u4537-3
	{
		border-width: 0px;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: transparent url("../images/abrir.svg?crc=3881540917") no-repeat right center;
		background-size: 40px 15px;
	}

	#u4537-3:hover
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: transparent url("../images/abrir.svg?crc=3881540917") no-repeat right center;
		background-size: 40px 15px;
	}

	#u4537-3.AccordionPanelTabOpen
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		background: #525358 url("../images/cerrar.svg?crc=94584885") no-repeat right center;
		background-color: rgba(39,41,47,0.8);
		background-size: 40px 15px;
	}

	.nosvg #u4537-3,.nosvg #u4537-3:hover
	{
		background-image: url('../images/abrir_poster_u1494.png?crc=229763918');
	}

	#u4537-3.AccordionPanelTabOpen p
	{
		color: #4F4F4F;
		visibility: inherit;
	}

	.nosvg #u4537-3.AccordionPanelTabOpen
	{
		background-image: url('../images/cerrar_poster_u1442.png?crc=66643228');
	}

	#u4538
	{
		border-width: 0px;
		background-color: #525358;
		background-color: rgba(39,41,47,0.8);
		-pie-background: rgba(39,41,47,0.8);
	}

	#u11518_states
	{
		float: left;
		background: transparent url("../images/u11518_states.png?crc=455361945") no-repeat 0px 0px;
	}

	#u11518:hover #u11518_states
	{
		background: transparent url("../images/u11518_states-r.png?crc=4125011028") no-repeat 0px 0px;
	}

	#u11519_states
	{
		float: left;
		background: transparent url("../images/u11519_states.png?crc=4158137114") no-repeat 0px 0px;
	}

	#u11519:hover #u11519_states
	{
		background: transparent url("../images/u11519_states-r.png?crc=3948101070") no-repeat 0px 0px;
	}

	#u11520_states
	{
		float: left;
		background: transparent url("../images/u11520_states.png?crc=3890827916") no-repeat 0px 0px;
	}

	#u11520:hover #u11520_states
	{
		background: transparent url("../images/u11520_states-r.png?crc=487547467") no-repeat 0px 0px;
	}

	#u4539_states
	{
		float: left;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u4539_states.png?crc=4045970566") no-repeat 0px 0px;
	}

	#u4539:hover #u4539_states
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u4539_states-r.png?crc=4277325088") no-repeat 0px 0px;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u1888,#u11124,#u11128,#u11130,#u11126
	{
		background-color: transparent;
	}

	#u11132-4
	{
		display: block;
		vertical-align: top;
	}

	#u11495_states
	{
		float: left;
		background: transparent url("../images/u11495_states.png?crc=357440857") no-repeat 0px 0px;
	}

	#u11495:hover #u11495_states
	{
		background: transparent url("../images/u11495_states-r.png?crc=4221576773") no-repeat 0px 0px;
	}

	#u11496_states
	{
		float: left;
		background: transparent url("../images/u11496_states.png?crc=4267460292") no-repeat 0px 0px;
	}

	#u11496:hover #u11496_states
	{
		background: transparent url("../images/u11496_states-r.png?crc=4096232411") no-repeat 0px 0px;
	}

	#u11518,#u11519,#u11520,#u4539,#u11495,#u11496,#u11497
	{
		vertical-align: top;
	}

	#u11497_states
	{
		float: left;
		background: transparent url("../images/u11497_states.png?crc=78824345") no-repeat 0px 0px;
	}

	#u11497:hover #u11497_states
	{
		background: transparent url("../images/u11497_states-r.png?crc=4148868113") no-repeat 0px 0px;
	}
}

